# Envs
**/*.env

# Go-Task
.task/

# OS
**/.DS_Store

# Python
**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/
**/.venv/
**/venv/
**/dist/
**/build/
python-src/*[\-_]cache

# IDEs
.idea/
.zed/
.vscode/
